<!DOCTYPE html>
<html>
<head>
	<title>Logout Auth</title>
</head>
<body>
<h3>Please wait...</h3>
<script src="/assets/jquery.min.js"></script>
<script src="assets/js/custom.js?time=<%= new Date().getTime() %>"></script>    
<script type="text/javascript">logout();</script>
</body>
</html>